<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Control - Administrador</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilos_admin.css') }}"
    />
    <script>
      if (!localStorage.getItem("token")) {
        window.location.replace("/");
      }
    </script>
  </head>
  <body>
    <header>
      <h2>Panel de Administración</h2>
      <div>
        <span id="nombre-usuario" style="font-weight: 600; margin-right: 20px; color: #00b4d8">Administrador</span>
        <button class="btn-logout" onclick="cerrarSesion()">Cerrar Sesión</button>
      </div>
    </header>

    <div class="main-container">
      <nav>
        <button class="active" onclick="show('estudiantes', this)">Estudiantes</button>
        <button onclick="show('solicitudes', this)">Solicitudes</button>
        <button onclick="show('tutores', this)">Tutores</button>
        <button onclick="show('tutorias', this)">Tutorías</button>
      </nav>

      <main>
        <!-- ESTUDIANTES -->
        <section id="estudiantes" class="content-section active">
          <h3>Estudiantes</h3>
          <div class="contenedor_tit">
            <p style="color: #a2a8d3; margin-bottom: 20px">
            Registro general de estudiantes en el sistema
            </p>
            <button class="btn-add" onclick="addEstudiante()">
              + Añadir Estudiante
            </button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID_ESTUDIANTE</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>CARRERA</th>
                <th>EMAIL</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody id="tabla-estudiantes"></tbody>
          </table>
        </section>

        <!-- SOLICITUDES -->
        <section id="solicitudes" class="content-section">
          <h3>Solicitudes</h3>
          <div class="contenedor_tit">
            <p style="color: #a2a8d3; margin-bottom: 20px">
            Revisión de Peticiones de tutoría
            </p>
            <button class="btn-add" onclick="addSolicitud()">
              + Añadir Solicitud
            </button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID_SOLICITUD</th>
                <th>ID_ESTUDIANTE</th>
                <th>ASIGNATURA</th>
                <th>DESCRIPCION DEL PROBLEMA</th>
                <th>FECHA DE SOLICITUD</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody id="tabla-solicitudes"></tbody>
          </table>
        </section>

        <!-- TUTORES -->
        <section id="tutores" class="content-section">
          <h3>Tutores</h3>
          <div class="contenedor_tit">
            <p style="color: #a2a8d3; margin-bottom: 20px">
              Docentes y asesores académicos registrados
            </p>
            <button class="btn-add" onclick="addTutor()">
              + Añadir Tutor
            </button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID_TUTOR</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>ESPECIALIDAD</th>
                <th>EMAIL</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody id="tabla-tutores"></tbody>
          </table>
        </section>

        <!-- TUTORÍAS -->
        <section id="tutorias" class="content-section">
          <h3>Tutorías</h3>
          <div class="contenedor_tit">
            <p style="color: #a2a8d3; margin-bottom: 20px">
              Seguimiento global de sesiones académicas
            </p>
            <button class="btn-add" onclick="addTutoria()">
              + Añadir Tutoría
            </button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID TUTORIA</th>
                <th>ID SOLICITUD</th>
                <th>ID TUTOR</th>
                <th>FECHA / HORA</th>
                <th>AULA / LINK</th>
                <th>ESTADO</th>
                <th>OBSERVACIONES</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody id="tabla-tutorias"></tbody>
          </table>
        </section>
      </main>
    </div>
    
    <div id="modal-estudiante" class="modal-muestra">
        <div class="modal-content">
            <div class="modal-cabeza">
                <h3 id="modal-estudiante-titulo">Registrar Estudiante</h3>
                <button class="btn-close" onclick="cerrarModalEstudiante()">&times;</button>
            </div>
            
            <form id="form-estudiante" onsubmit="guardarEstudiante(event)">
                <label>Nombre:</label>
                <input type="text" id="est-nombre" required>
                
                <label>Apellido:</label>
                <input type="text" id="est-apellido" required>
                
                <label>Carrera:</label>
                <input type="text" id="est-carrera" required>
                
                <label>Email:</label>
                <input type="email" id="est-email" required>

                <button type="submit" class="btn-submit-modal">Guardar Datos</button>
            </form>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      function show(id, btn) {
        document.querySelectorAll(".content-section").forEach((s) => s.classList.remove("active"));
        document.querySelectorAll("nav button").forEach((b) => b.classList.remove("active"));
        document.getElementById(id).classList.add("active");
        btn.classList.add("active");
      }
    </script>
  </body>
</html>
